/* Colors */
$testColor: green
$whiteColor: white
$primaryColor: #273791
$secondaryColor: #e1b100
$borderGrayColor: #dcdcdc
$letterGrayColor: #b8b8b8
$titleGrayColor: #9e9e9e
$bgHomeColor: #fafafa
$bgInputColor: #e1e8f4

/* Fonts */
$familyPrimary: Space Grotesk

/** Media query from */
$maxWidth: max-width
$minWidth: min-width