@import './common/variables'
@import './common/mixins'

.logoContainer
  height: 65px
  width: 65px
  flex-shrink: 0
  box-sizing: 'border-box'
  border: 0.1px solid $whiteColor
  border-radius: 5px

  @include respondTo($minWidth, 400px)
    height: 90px
    width: 90px

  @include respondTo($minWidth, 768px)
    width: 120px
    height: 120px

  @include respondTo($minWidth, 1024px)
    width: 130px
    height: 130px
  
.logo
  height: 100%
  width: 100%
  object-fit: contain
 
.searchContainer
  position: relative
  height: fit-content
  padding: 1px 0
  width: calc( 100% - 75px  )
  margin-left: 10px
  border-radius: 5px
  border: 2px solid $primaryColor
  background-color: $bgInputColor

  @include respondTo($minWidth, 400px)
    margin-left: 20px
    width: calc( 100% - 105px  )

  @include respondTo($minWidth, 768px)
    width: calc( 100% - 125px  )

  @include respondTo($minWidth, 1024px)
    width: calc( 100% - 155px  )

.searchIconContainer
  position: absolute
  top: 1px
  left: 5px
  padding-right: 5px
  border-right: 0.2px solid $primaryColor

.searchInput
  height: 100%
  padding: 0
  margin: 0
  width: 100%
  padding-left: 35px
  font-family: $familyPrimary
  font-style: italic
  font-size: 16px
  border: none
  background-color: transparent

  &:focus
    outline: none
  
