@import './common/variables'
@import './common/mixins'

.main 
  min-height: calc( 100vh - 150px ) 
  background-color: $bgHomeColor

  @include respondTo($minWidth, 768px)
    min-height: calc( 100vh - 200px ) 

.container
  @include respondTo($minWidth, 1024px)
    display: flex
    padding-left: 15px
    padding-right: 15px
    max-width: 960px
    margin-left: auto
    margin-right: auto

  @include respondTo($minWidth, 1200px)
    max-width: 1140px
  
.content
  background: $bgHomeColor
  @include respondTo($minWidth, 1024px)
    //max-height: calc( 100vh - 100px )
    //overflow-y: auto

    &::-webkit-scrollbar 
      //width: 8px
      //height: 0
  

    &::-webkit-scrollbar-thumb 
      //margin-top: 10px
      //border-radius: 8px
      //background-color: transparent

