@import './common/variables'
@import './common/mixins'

.main 
  min-height: 100vh
  background-color: $bgHomeColor

.container
  @include respondTo($minWidth, 1200px)
    padding-left: 15px
    padding-right: 15px
    max-width: 1140px
    margin-left: auto
    margin-right: auto

