@import './common/variables'
@import './common/mixins'

.container
  position: sticky
  top: 0
  background: $whiteColor
  z-index: 20


  @include respondTo($minWidth, 1024px)
    position: sticky
    top: 10px
    height: 100%
    //min-height: calc( 100vh - 120px )
    //max-height: calc( 100vh - 120px )
    border-top: 0
    border: 0.5px solid $borderGrayColor
    flex-shrink: 0
    width: 260px
    padding: 16px 0 20px 20px
    border-radius: 8px
    background: $whiteColor
    overflow-y: auto

    &::-webkit-scrollbar 
      width: 8px
      height: 0
  

    &::-webkit-scrollbar-thumb 
      margin-top: 10px
      border-radius: 8px
      background-color: $whiteColor

.tabs
  display: flex
  align-items: center
  overflow-x: auto

  @include respondTo($minWidth, 1024px)
    display: block
    overflow-y: auto

.itemActive
  transition: 0.3s

  a
    display: block
    padding: 14px 1em
    color: $secondaryColor  
    font-size: 18px
    font-weight: 500
    white-space: nowrap
    cursor: pointer
    transition: 0.3s

    &:hover
      color: $secondaryColor

    @include respondTo($minWidth, 575px)
      padding-left: 2.5em
      padding-right: 2.5em
  
    @include respondTo($maxWidth, 1023px)
      border-bottom: 2px solid $secondaryColor

    @include respondTo($minWidth, 1024px)
      padding: 16px 18px

  @include respondTo($minWidth, 1024px)
    border-left: 3px solid $secondaryColor !important
    &:hover
      background: #FFF8E1 !important

.item
  transition: 0.3s
  @include respondTo($minWidth, 1024px)
    border-left: 3px solid $letterGrayColor
    &:hover
      background: $bgHomeColor

.tabItem
  display: block
  padding: 14px 1em 
  color: rgba(5, 20, 65, 0.43) 
  font-size: 18px
  font-weight: 500
  white-space: nowrap
  cursor: pointer
  transition: 0.3

  &:hover
    color: rgba(5, 20, 65, 0.43)
    
  @include respondTo($minWidth, 575px)
    padding-left: 2.8em
    padding-right: 2.8em

  @include respondTo($minWidth, 950px)
    padding-left: 3.2em
    padding-right: 3.2em
    
  @include respondTo($maxWidth, 1023px)
    border-bottom: 2px solid $letterGrayColor

  @include respondTo($minWidth, 1024px)
    padding: 16px 20px

